h1{
    color: #0A81AB;
}
.division{
    color: #F9DFDC;
}
.card{
    background-color: #f7ebe9;
    /* border-bottom: #1F1D36 1px solid; */
    border: none;
    border-bottom: #0C4271 1px solid;
    transition: box-shadow 0.3s ease-in-out;
}
h5{
    color:#0C4271
}
.para{
    color: #0A81AB;
}
.card-body{
    padding-right: 0px;
}

.card:hover{
    box-shadow: 0 5px 15px #000000;
    /* transform: translateY(-2%); */
}
.card-text{
    color: #0A81AB !important;
}

.img{
    border-radius: 1rem;
}