
<div class="card mb-3">
    <img [src]="eventDet.imagePath" class="card-img-top img-fluid" alt="..." style="min-height:350px; max-height: 350px;">
    <div class="card-body">
      <h5 class="card-title">{{eventDet.eventName | uppercase}}</h5>
      <p class="card-text">{{eventDet.eventDetails}}</p>
      <div class="details">
        <p>
            Rs.{{eventDet.price}}
        </p>
        <span>
            {{eventDet.eventDate | date:'longDate'}}
        </span>
        <p>
            {{eventDet.eventVenue | uppercase}}
        </p>

      </div>
      
    </div>
    <div class="card-footer">
        <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-primary myButton" type="button" (click)="bookTickets(eventDet)"  data-toggle="modal" data-target="#exampleModalCenter">Book Tickets</button>
          </div>
    </div>
  </div>
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Booking Deatils</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        The tickets to the event <span class="myEvent"> "{{eventDet.eventName | uppercase}} </span>" has been booked. 
      </div>
      <div class="modal-footer">
        <button type="button" class=" btn btn-secondary closeButton" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary downloadBtn">Download Itenary</button>
      </div>
    </div>
  </div>
</div>